# Archivos y carpetas generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.egg-info/
dist/
build/
*.egg
*.log

# Archivos generados por el entorno de desarrollo
.idea/
.vscode/
*.iml
.env

# Archivos y carpetas específicas de FastAPI
venv/
env/
logs/
*.db

# Otros archivos y carpetas generados en el proceso de desarrollo
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

# Dependiendo de tus preferencias y configuración, podrías agregar otros archivos y carpetas aquí

